<html>
    <head>
        <title>Epicodus Library</title>
    </head>
    <body>
        <h1>Welcome to the Epicodus Library</h1>
        <a href='/admin'><p>Click here</a> if you are an Administrator</p>
        <a href='/patron'><p>Click here</a> if you are a Patron</p>
    </body>
</html>
